<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Guestbook App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/mystyle.css}"/>
	<script type="text/javascript" th:src="@{/js/myJS.js}" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  
  <body id="body">

	<div class="nav nav-tabs" id="nav-tab">
		<li id="li_nav_en" class="nav-item"><a class="nav-link active" href="?lang=en">English</a>
		</li>
		<li id="li_nav_en" class="nav-item"><a class="nav-link" href="?lang=fr">French</a>
		</li>
	</div>

	<div id="mainDiv" >
  	
	    <h1 th:text="#{titre}" class="container"></h1>
			
		<button type="button" class="btn btn-success container" onclick="wedding()" th:text="#{creation_livre_or}" ></button>
		</br>
		<button type="button" class="btn btn-success container" onclick="message()" th:text="#{participation_livre_or}"></button>
	
  	</div>
  	
  <input id="publicId" name="publicId" type="hidden" /> 
  </body>
</html>